@model Trip

@{
    ViewData["Title"] = Model.Destination + " Details";
}

<h1 class="display-4 mb-4">Details</h1>

<div>
    <h4>@Model.Destination Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThingsToDo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ThingsToDo != null)
            {
                <ul>
                @foreach (var toDo in Model.ThingsToDo)
                {
                    <li>
                        @Html.DisplayFor(modelItem => toDo)
                    </li>
                }
                </ul>
            }
            else
            {
                <p>Nothing to do.</p>
            }
        </dd>
    </dl>
</div>

<div>
    <a 
    class="btn btn-outline-primary"
    asp-action="Index">
        Back to List
    </a>
</div>
